:root {
  --dwc-app-layout-header-collapse-height: 47px;
}

.header__primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  gap: var(--dwc-space-s);
}

.header__logo {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 150px;
  margin-right: -150px;
}

.header__logo img {
  border-radius: 10px;
}

.header__primary {
  display: flex;
  align-items: center;
}

.header__primary dwc-tabs-list {
  flex: 1;
  border-top: thin solid var(--dwc-color-default);
}

.header__primary dwc-tab::part(icon) {
  vertical-align: bottom;
}

.header__primary [theme-switcher] {
  margin-right: var(--dwc-space-m);
}

.page {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-m);
  margin: 0 auto;
  height: auto !important;
  overflow: visible !important;
  max-width: 1200px;  /*TODO*/
}

.page--documentation {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-m);
  margin: 0 auto;
  height: auto !important;
  overflow: hidden !important;
  max-width: unset !important;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-m);
  padding: var(--dwc-space-m);
  border-radius: var(--dwc-border-radius-m);
  background-color: var(--dwc-surface-3);
  box-shadow: var(--dwc-shadow-1);
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-m);
  font-size: var(--dwc-font-size-l);
  font-weight: bold;
}
